@model Post
@{
    ViewData["Title"] = "Post details";
}
@{
    ViewData["Title"] = "About";
}



<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">@Model.User.FirstName @Model.User.LastName</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on @Model.PublishedOn.ToString("dd-MMM-yyyy hh:mm:ss tt", new CultureInfo("en-US")) (UTC)</p>

            <hr>

            <!-- Preview Image -->
            @if (Model.Picture != null)
            {

                <img class="img-fluid rounded" src="/api/Image/@Model.PictureId" alt="">
                <hr>
            }

            <!-- Post Content -->
            <h4>Content:</h4>
            <p>@Model.Content</p>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="post" asp-controller="Posts" asp-action="Comment">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="Comment"></textarea>
                        </div>
                        <input type="hidden" name="PostId" value="@Model.Id" />
                        <input type="hidden" name="CommentAuthor" value="@Model.User.UserName" />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            @if (Model.Comments.Any())
            {
                <h4>Comments:</h4>

                @foreach (var comment in Model.Comments)
                {

                    <!-- Single Comment -->
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="/api/Image/@comment.User.ProfilePictureId" alt="" width="60" height="60">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="">@comment.User.FirstName @comment.User.LastName</a></h5>
                            @comment.Content
                        </div>
                    </div>
                }
            }
            
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>