@model VisitProfileModel
@{
    ViewData["Title"] = Model.User.FirstName;
}

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        @if (Model.FriendshipStatus == FriendshipStatus.Accepted || User.IsInRole(GlobalConstants.UserRole.Administrator))
        {
            <h1 class="my-4">
                @Model.User.FirstName @Model.User.LastName's posts<br />
            </h1>
            @if (Model.User.Posts.Any())
            {
                @foreach (var post in Model.User.Posts)
                {
                <!-- Blog Post -->
                    <div class="card mb-4">
                        @if (post.Picture != null)
                        {
                            <img class="card-img-top" src="/api/Image/@post.PictureId" alt="Card image cap">
                        }
                        <div class="card-body">
                            <h2 class="card-title">@post.Title</h2>
                            <p class="card-text">@post.Content<p>
                                <a asp-area="User" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            <img src="/api/Image/@Model.User.ProfilePictureId" alt="Card image cap" width="60" height="60">
                            Posted on @post.PublishedOn.ToString("dd-MMM-yyyy hh:mm:ss tt", new CultureInfo("en-US")) by
                            <a asp-controller="Profile" asp-action="Visit" asp-route-username="@Model.User.UserName">@Model.User.FirstName @Model.User.LastName</a>
                            @if (post.EditedOn != null)
                            {
                                <span>Edited</span>
                            }
                            @if (User.IsInRole(GlobalConstants.UserRole.Administrator))
                            {
                                <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger" style="float:right;">Delete</a>
                            }
                        </div>
                    </div>
                }

            <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
            }
            else
            {
                <p>@Model.User.FirstName @Model.User.LastName hasn't posted anything yet :(</p>
            }
        }
        else
        {

            if (Model.FriendshipStatus == FriendshipStatus.Pending)
            {
                if (Model.IssuerUsername != User.Identity.Name)
                {
                    <div class="alert alert-info" role="alert">
                        This person has requested to be your friend. Will you accept the request?
                    </div>
                    <a class="btn btn-primary" asp-controller="Profile" asp-action="AcceptFriendRequest" asp-route-usernameToBefriend="@Model.User.UserName">Accept</a>
                    <a class="btn btn-danger" asp-controller="Profile" asp-action="CancelFriendRequest" asp-route-usernameToBefriend="@Model.User.UserName">Decline</a>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Friend request pending... You will see user's profile if he accepts you.
                    </div>
                    <a class="btn btn-danger" asp-controller="Profile" asp-action="CancelFriendRequest" asp-route-usernameToBefriend="@Model.User.UserName">Cancel friend request</a>
                }
            }
            else if (Model.FriendshipStatus == FriendshipStatus.NotFriend)
            {
                <div class="alert alert-warning" role="alert">
                    <p class="danger">You do not have access to this user's personal info. Send a friend request if you wish to befriend him/her.</p>
                </div>
                <a class="btn btn-primary" asp-controller="Profile" asp-action="SendFriendRequest" asp-route-usernameToBefriend="@Model.User.UserName">Add friend</a>
            }
        }

    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        @if (User.IsInRole(GlobalConstants.UserRole.Administrator))
        {
            <div class="card my-4">
                <h5 class="card-header">Admin widget</h5>
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="Profile" asp-action="CancelFriendRequest" asp-route-usernameToBefriend="@Model.User.UserName">Add user to role</a>
                    <a class="btn btn-danger" asp-controller="Profile" asp-action="CancelFriendRequest" asp-route-usernameToBefriend="@Model.User.UserName">Delete user account</a>
                </div>
            </div>
        }
        <!-- Widget with name and email info -->
        <div class="card my-4">
            <h5 class="card-header">@Model.User.FirstName @Model.User.LastName</h5>
            <div class="card-body">
                <p>@Model.User.Email</p>
            </div>
        </div>
        <!-- Widget for the profile photo -->
        <div class="card my-4">
            <h5 class="card-header">Profile photo</h5>
            <div class="card-body" style="text-align:center;">
                @if (Model.User.ProfilePicture == null)
                {
                    <img src="~/images/profile/nophoto.jpg" style="width:70%;height:70%;" />
                }
                else
                {
                    <img src="/api/Image/@Model.User.ProfilePictureId" style="width:70%;height:70%;" />
                }
            </div>
        </div>
        @if (Model.FriendshipStatus == FriendshipStatus.Accepted || User.IsInRole(GlobalConstants.UserRole.Administrator))
        {
            <!-- Quick links Widget -->
            <div class="card my-4">
                <h5 class="card-header">Quick links</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">About</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Photos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Friends</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->
