@model ReceivedMessagesPaginationModel
@{
    ViewData["Title"] = "Received messages";
}

<div class="row">
    <div class="col-md-8">
        <h2>Search results</h2><hr />
        @if (Model.Messages.Any())
            {

            <ul class="pagination pagination-lg">
                <li class="page-item @(Model.PreviousPage == Model.CurrentPage ? "disabled" : "")">
                    <a class="page-link"
                       asp-area="User"
                       asp-controller="Messages"
                       asp-action="MyReceived"
                       asp-route-page="@Model.PreviousPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)">
                        <a class="page-link"
                           asp-controller="Messages"
                           asp-action="MyReceived"
                           asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.NextPage == Model.CurrentPage ? "disabled" : "")">
                    <a class="page-link" asp-area="User"
                       asp-controller="Messages"
                       asp-action="MyReceived"
                       asp-route-page="@Model.NextPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>

            <table class="table table-bordered table-hover">
                <tr>
                    <th>From</th>
                    <th>Content</th>
                    <th>Date</th>
                </tr>
                @foreach (var message in Model.Messages)
                {
                    var sender = message.Sender;
                    <tr>
                        <td><a asp-controller="Profile" asp-action="Visit" asp-route-username="@sender.UserName">@sender.FirstName @sender.LastName</a></td>
                        <td>@message.Content</td>
                        <td>@message.Date.ToString("dd-MMM-yyyy hh:mm:ss tt", new CultureInfo("en-US")) (UTC)</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="alert alert-info">
                Your inbox is empty.
            </div>

        }
    </div>
    <div class="col-md-4">
        <div class="card my-4" style="text-align:center;">
            <h5 class="card-header">Profile</h5>
            <div class="card-body">
                <a asp-area="User" asp-controller="Profile" asp-action="MyProfile">Go to my profile</a>
            </div>
        </div>
    </div>
</div>

