@model HomepagePostModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">
            Social Net
            <small>Here you can browse through your firends' posts</small>
        </h1>
        @if (Model.Posts.Any())
         {
            @foreach (var post in Model.Posts)
             {
                    <!-- Blog Post -->
                <div class="card mb-4">
                    @if (post.Picture != null)
                     {
                        <img class="card-img-top" src="/api/Image/@post.PictureId" alt="Card image cap">
                     }
                    <div class="card-body">
                        <h2 class="card-title">@post.Title</h2>
                        <p class="card-text">@post.Content<p>
                            <a asp-area="User" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        @{
                            var userProfilePicture = post.User.ProfilePictureId == null ?
                                "/images/profile/nophoto.jpg" : $"/api/Image/{post.User.ProfilePictureId}";
                        }
                        <img src="@userProfilePicture" alt="Card image cap" width="60" height="60">
                        Posted on @post.PublishedOn.ToString("dd-MMM-yyyy hh:mm:ss tt", new CultureInfo("en-US")) (UTC) by
                        <a asp-controller="Profile" asp-action="Visit" asp-route-username="@post.User.UserName">@post.User.FirstName @post.User.LastName</a>
                        @if (post.EditedOn != null)
                        {
                            <span>Edited</span>
                        }
                        @if (User.IsInRole(GlobalConstants.UserRole.Administrator))
                        {
                            <button onclick="deletePost(@post.Id)" class="btn btn-danger" style="float:right;">Delete</button>
                        }

                    </div>
                </div>
             }

         }
         else
         {
             <div class="alert alert-info">
                 Nothing to show :(<br /> Start making friends and their latest posts will appear here.
             </div>
         }

    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Quick link to personal profile widget -->
        <div class="card my-4">
            <h5 class="card-header">Profile</h5>
            <div class="card-body">
                <a asp-area="User" asp-controller="Profile" asp-action="MyProfile">Go to my profile</a>
            </div>
        </div>
        <!-- Quick link to new post widget -->
        <div class="card my-4">
            <h5 class="card-header">Quick links</h5>
            <div class="card-body">
                <a asp-area="User" asp-controller="Posts" asp-action="Create">Create new post</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
